body {
    background: rgba(0, 140, 255, 0.842);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(176, 16, 250, 0.822);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}